<div class="card-center">
  <div class="all-info">
    <div class="scooter-info">
      <div class="scooter-info-header">
        <p>INFORMATION ABOUT YOU</p>
        <% if user.profile_pic %>
        <%= cl_image_tag(user.profile_pic, class: "profile_pic") %>
        <% else %>
         <img src="../assets/images/avatar" alt="" class="image">
        <% end %>
      </div>
      <div class="host-info-body">
      </div>
      <div class="scooter-info-body">
        <h2><%= @user.name %></h2>
        <h3><%= @user.email %></h3>
        <h3><%= @user.address %></h3>
      </div>
      <div class="host-info-body">
        <% if user.license_photo %>
        <%= cl_image_tag(user.license_photo, class: "license") %>
        <% else %>
        <p>License photo is missing.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
