
<div class="banner">
  <div class="navbar-landingpage">
    <%= render 'shared/navbar' %>
  </div>
  <div class="container">
    <div class="info">
      <h1>ScooteRent!</h1>
      <p>Way better than a rental company</p>

      <form action="/scooters" method="get">
      <input type="search" id="address" class="form-control" placeholder="Where are we going?" name="query" />

      <p>Selected: <strong id="address-value">none</strong></p>
      <!-- <#%= link_to "Search cool scooters", scooters_path, {class: "btn btn-primary"} %> -->
      <button type="submit" class="btn-warning"><i class="fa fa-search"></i>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.1"></script>


      <script>
      (function() {
        var placesAutocomplete = places({
          appId: "plT0NXOSH8ZG",
          apiKey: "80c89418114818b54c6a6acfbb3971bf",
          container: document.querySelector('#address')
        });

        var $address = document.querySelector('#address-value')
        placesAutocomplete.on('change', function(e) {
          $address.textContent = e.suggestion.value
        });

        placesAutocomplete.on('clear', function() {
          $address.textContent = 'none';
        });

      })();
      </script>

    </div>
  </div>
</div>

<div class="about-us">

  <div class="about-title">
    <h1>Skip the rental counter</h1>
  </div>

  <div class="info-about-us">

    <div class="part-one">
      <h3>THE SCOOTER YOU WANT</h3>
      <p>Choose from over 800 unique makes and models, from affordable daily scooters to rare specialty motorcycles.</p>
    </div>

    <div class="part-dwo">
      <h3>WHERE YOU WANT IT</h3>
      <p>Pick up the scooter or get it delivered, wherever you need it, up to 35% less than traditional agencies.</p>
    </div>

  </div>

</div> <!-- chiude il div about-us -->

<div class="divider"></div>

<div class="our-offers">
  <h3>Some cool scooters to rent</h3>
</div>

<div class="card-container col-md-12">
  <div class="row">
  <% @scooters_rand.each do |scooter_rand| %>
    <div class="col-md-4 contenitor">
      <% if scooter_rand.image.present? %>
      <%= link_to scooter_path(scooter_rand) do %>
      <%= cl_image_tag(scooter_rand.image, class: "image") %>
      <div class="overlay">
        <div class="text">
          <h2 class="landingpage-cards-brand"><%= scooter_rand.make %> </h2>
          <h2 class="landingpage-cards-model"><%= scooter_rand.model %> </h2>
          <h2 class="landingpage-cards-engine"><%= scooter_rand.engine %> </h2>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  <% end %>
  </div>


<div class="divider"></div>

  <div class="divider"></div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>





              <!--   <div class="col-md-4 contenitor">
            <img class="image" src="https://cdn3.volusion.com/3acnj.jebn4/v/vspfiles/photos/TT50SC-A1-2.jpg?1500283752" alt="">
              <div class="overlay">
                <div class="text">
                <p>A cool Scooter type</p>
                <p>5 stars</p>
                <p>Owner: Jeremy</p>
              </div>
              </div>
            </div>
                <div class="col-md-4 contenitor">
            <img class="image" src="https://cdn3.volusion.com/3acnj.jebn4/v/vspfiles/photos/TT50SC-A1-2.jpg?1500283752" alt="">
              <div class="overlay">
                <div class="text">
                <p>A cool Scooter type</p>
                <p>5 stars</p>
                <p>Owner: Jeremy</p>
              </div>
              </div>
            </div> -->
