<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "My Profile", pages_user_page_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My Reservations", pages_user_page2_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My Listings", pages_user_page3_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My Requests", pages_user_page4_path, class: "tab-underlined active" %>
  </li>
</ul>


<% @reservations.each do |reservation| %>
<div class="card-center">
  <% if reservation.approved %>
  <div class="card-product green-shadow">
    <% if reservation.scooter.image %>
    <%= cl_image_tag(reservation.scooter.image, class: "license") %>
    <% else %>
    <i class="fas fa-motorcycle"></i>
    <% end %>
    <div class="card-product-infos">
      <h2><%= reservation.scooter.model%> - <%= reservation.scooter.make%> (<%= reservation.scooter.year%>)</h2>
      <p> (<%= reservation.scooter.address%> )</p>
      <p><%= reservation.scooter.description%></p>
      <p><i class="fas fa-burn"></i> <%= reservation.scooter.engine%> - <i class="fas fa-euro-sign"></i> <%= reservation.scooter.price%> </p>
    </div>
    <div class="card-reservation">
      <p>Start date:<strong> <%= reservation.start_date%></strong> </p>
      <p>End date:<strong> <%= reservation.end_date%></strong> </p>
      <p>Contact owner at:</p>
      <p><strong><%= reservation.scooter.user.email%></strong></p>
    </div>
    <div class="card-bnt">
      <button id="btn"><%= link_to "Cancel", reject_path(reservation.scooter, reservation), remote: true %></button>

    </div>
  </div>
  <% else %>
  <div class="card-product red-shadow">
    <% if reservation.scooter.image %>
    <%= cl_image_tag(reservation.scooter.image, class: "license") %>
    <% else %>
    <i class="fas fa-motorcycle"></i>
    <% end %>
    <div class="card-product-infos">
      <h2><%= reservation.scooter.model%> - <%= reservation.scooter.make%> (<%= reservation.scooter.year%>)</h2>
      <p> (<%= reservation.scooter.address%> )</p>
      <p><%= reservation.scooter.description%></p>
      <p><i class="fas fa-burn"></i> <%= reservation.scooter.engine%> - <i class="fas fa-euro-sign"></i> <%= reservation.scooter.price%> </p>
    </div>
    <div class="card-reservation">
      <p>Start date:<strong> <%= reservation.start_date%></strong> </p>
      <p>End date:<strong> <%= reservation.end_date%></strong> </p>
      <p>Contact owner at:</p>
      <p><strong><%= reservation.scooter.user.email%></strong></p>
    </div>
    <div class="card-bnt">
      <button id="btn"><%= link_to "Approve", approve_path(reservation.scooter, reservation), remote: true %></button>
      <% end %>

    </div>
    <% end %>





