<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "My Profile", pages_user_page_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My Reservations", pages_user_page2_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My Listings", pages_user_page3_path, class: "tab-underlined"%>
  </li>
    <li>
  <%= link_to "My Request", pages_user_page4_path, class: "tab-underlined active" %>
  </li>
</ul>

<div class="card-bnt">
  <button id="btn-new-scooter"><%= link_to "Load a new scooter",  new_scooter_path %></button>
</div>
<% @scooters.each do |scooter| %>
<div class="card-center">
  <div class="card-product">
    <% if scooter.image %>
      <%= cl_image_tag(scooter.image, class: "license") %>
    <% else %>
      <i class="fas fa-motorcycle"></i>
    <% end %>
    <div class="card-product-infos">
      <h2><%= scooter.model%> - <%= scooter.make%> (<%= scooter.year%>)</h2>
      <p> (<%= scooter.address%> )</p>
      <p><%= scooter.description%></p>
      <p><i class="fas fa-burn"></i> <%= scooter.engine%> - <i class="fas fa-euro-sign"></i> <%= scooter.price%> </p>
    </div>
    <div class="card-bnt">
      <button id="btn-gradient"><%= link_to "Edit", edit_scooter_path(scooter.id)%></button>
    </div>
  </div>
</div>

<% end %>


