<div class="confirtmation-page">

  <div class="confirmation-message">
    <h1>Congratulations! Your reservation has been confirmed.</h1>
  </div>

  <div class="reservation-info">
    <div class="reservation-details">
      <h5>RESERVATION DETAILS</h5>
      <ul>
        <li><p>Make: <%= @reservation.scooter.make %></p></li>
      <li><p>Model: <%= @reservation.scooter.model %></p></li>
      <li>Start date: <%= @reservation.start_date %></p></li>
      <li>End date: <%= @reservation.end_date %></p></li>
      <li>Price per day: <%= "$#{@reservation.scooter.price}" %></p></li>
    </ul>
    <h6>Total: <%= "$#{((Date.parse(@reservation.end_date) - Date.parse(@reservation.start_date)).to_i + 1) * @reservation.scooter.price}" %></h6>
    </div>


    <div class="owner-details">
      <h5>OWNER DETAILS</h5>
      <p>Owner name: <%= @reservation.scooter.user.name %></p>
      <p>Owner email: <%= @reservation.scooter.user.email %></p>
      <p>Owner Address: <%= @reservation.scooter.user.address %></p>
    </div>

  </div>

    <a href="..." class="home-button">View all bookings</a>


</div>

<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
