<!-- <h1>Scooters#edit</h1>
<p>Find me in app/views/scooters/edit.html.erb</p>
 -->
<div class="form-page">
  <h1>Edit your scooter</h1>

  <%= simple_form_for @scooter do |f| %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :license_plate %>
    <%= f.input :price %>
    <%= f.input :engine %>
    <%= f.input :description, :as => :string %>
    <%= f.input :photo %>
    <% f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
</div>
