<%= @query %>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  <%= Scooter.near(@query, 2) %>
></div>

<div class="card-container col-md-12">
  <div class="row">
  <% @scooters.each do |scooter| %>
    <div class="col-md-4 contenitor">
      <% if scooter.image.present? %>
      <%= link_to scooter_path(scooter) do %>
      <%= cl_image_tag(scooter.image, class: "image") %>
      <div class="overlay">
        <div class="text">
          <h2 class="landingpage-cards-brand"><%= scooter.make %> </h2>
          <h2 class="landingpage-cards-model"><%= scooter.model %> </h2>
          <h2 class="landingpage-cards-engine"><%= scooter.engine %> </h2>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
