<!-- <h1>Scooters#show</h1>
<p>Find me in app/views/scooters/show.html.erb</p> -->

<div data-dates="<%= @availability_array.to_json %>"class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= @scooter.image %>);">

  <div class="edit-button">
    <%= link_to edit_scooter_path(@scooter) do %>
      <button type="button" class="btn btn-outline-secondary"><i class="fas fa-pencil-alt"></i>Edit this scooter</button>
    <% end %>
  </div>
</div>

<div class="show-container">

  <%= render partial: "partials/map_show", locals: {scooter: @scooter} %>

  <%= render partial: "partials/all_info", locals: {scooter: @scooter} %>

  <%= render partial: "partials/cost_form", locals: {reservation: @reservation, scooter: @scooter} %>

</div>

<div class="scooter-show-map">

</div>



